**

!.gitignore
!.env
!install.sh
!README.md
!Makefile


!/domains/
!/domains/README.md

!/services/
!/services/sh/
!/services/sh/docker.compose.sh
!/services/sh/project.new.sh
!/services/sh/project.remove.sh
!/services/sh/service.status.sh
!/services/sh/libs/
!/services/sh/libs/colors.sh
!/services/sh/libs/functions.sh

!/services/nginx-proxy
!/services/nginx-proxy/docker-compose.yml

!/services/templates/
!/services/templates/**

!/services/database
/services/database/.env
!/services/database/docker-compose.yml
!/services/database/env.dist
!/services/database/backups
!/services/database/backups/README.md
