#!/usr/bin/env bash

# See https://docs.docker.com/compose/environment-variables/#the-env-file

# Nginx
PHPMYADMIN_VIRTUAL_HOST=phpmyadmin.local
PG_ADMIN_VIRTUAL_HOST=pgadmin.local

# PHP

# See https://hub.docker.com/r/nanoninja/php-fpm/tags/
PHP_VERSION=latest

# MySQL
MYSQL_VERSION=5.7.22
MYSQL_HOST=mysql
MYSQL_DATABASE=default_database
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
MYSQL_USER=dev
MYSQL_PASSWORD=${MYSQL_PASSWORD}

# POSTGRES
PG_VERSION=12
PG_HOST=postgres
PG_DATABASE=postgres
PG_USER=dev
PG_PASSWORD=${PG_PASSWORD}
PGADMIN_DEFAULT_EMAIL=dev@example.com
PGADMIN_DEFAULT_PASS=${PGADMIN_DEFAULT_PASS}

